name: deploy-docs
on:
  push:
    branches:
      - main
      - docs
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs mkdocstrings[python]
      - run: mkdocs gh-deploy --force --clean --verbose
